/* 기본 폰트 설정 */
body {
    font-family: Arial, sans-serif;
}

/* 프로필 사진 스타일 */
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* 테이블 스타일 */
table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 10%;
}

/* 테이블 헤더와 셀 스타일 */
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

/* 테이블 헤더 배경 색상 */
th {
    background-color: #4151ff;
    font-weight: bold; /* 테이블 헤더 볼드체 */
}

/* 이탤릭체 스타일 */
.italic {
    font-style: italic;
    color: #ff6347;
}

/* 큰 글씨 스타일 */
.large-text {
    font-size: 1.5em;
    color: #000000;
}

/* 첫 번째 배경색 */
.background1 {
    background-color: #e0e7ff; /* 밝은 파란색 */
    padding: 20px;
}

/* 두 번째 배경색 */
.background2 {
    background-color: #cfe2ff; /* 더 밝은 파란색 */
    padding: 20px;
    text-align: left;
}

/* 검색엔진 이미지 스타일 */
.search-engines img {
    width: 100px;
    height: auto;
    margin: 10px;
}
